.box1{
	-fx-background-color: rgb(255,226,0);
	-fx-background-color: linear-gradient(to bottom, #FFFF00 0%, rgba(255,252,224,1) 50%, #FFFF00 100%);
}
.box2{
	-fx-background-color: rgb(255,0,0);
	-fx-background-color: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(255,200,200,1) 50%, rgba(255,0,0,1) 100%);
}
#s1{
	 -fx-font-size: 24px;
	 -fx-font-weight: bold;
	 -fx-font-style: italic;
	 -fx-text-fill: black;
	 -fx-border-insets: 5px;
	 -fx-border-color: black;
	 -fx-border-width: 2px;
	 -fx-min-width: 200;
	 -fx-alignment: center;
	 -fx-text-alignment: center;
}
#s2{
	-fx-font-size: 24px;
  	-fx-font-weight: bold;
  	-fx-font-style: italic;
  	-fx-text-fill: black;
  	-fx-border-insets: 5px;
  	-fx-border-color: black;
  	-fx-border-width: 2px;
  	-fx-min-width: 200;
  	-fx-alignment: center;
  	-fx-text-alignment: center;
}
.gbox{
	-fx-background-color: blue;
	-fx-padding: 10px;
}
.C{
	-fx-padding: 3px;
}
.bbox{
	-fx-background-color: blue;
	-fx-text-fill: white;
}
.bboxx{
	-fx-background-color: blue;
	-fx-text-fill: white;
	-fx-font-size: 14px;
  	-fx-font-style: italic;
  	-fx-text-alignment: center;
}
.bboxx2{
	-fx-background-color: blue;
	-fx-text-fill: white;
	-fx-font-size: 14px;
  	-fx-font-style: italic;
  	-fx-text-alignment: center;
  	-fx-alignment: center;
}
#menuM{
	-fx-background-color: black;
	-fx-text-fill: black;
}
#menuMM{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;    
}
#menuML{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;   
}
#menuMS{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;   
}
#menuMD{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;   
}
#menuMJ{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;   
}
.bboxxB{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;   
}
.bboxxB2{
	-fx-background-color: linear-gradient(to bottom, lightgray, gray);
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-text-fill: black;   
}
.d{
	 -fx-font-size: 14px;
	 -fx-font-style: italic;
	 -fx-text-fill: white;
	 -fx-max-width: 1200;
	 -fx-text-alignment: left;
}
.info{
	 -fx-font-size: 20px;
	 -fx-font-style: italic;
	 -fx-text-fill: white;
	 -fx-max-width: 1200;
	 -fx-font-weight: bold; 
}
.info2{
	 -fx-font-size: 20px;
	 -fx-font-style: italic;
	 -fx-text-fill: white;
	 -fx-max-width: 1200;
	 -fx-font-weight: bold; 
}
